body{
	padding-top: 65px;
	padding-bottom: 15px;
	background-color: #333333;
	min-width: 600px;
}


.panel-heading {
	font-weight: bold;
}

/* Dropzone */
.dropzone {
	height: 120px;
	text-align: center;
}

/* Editable select */
.es {
	position: relative;
}
.es-clear {
	position: absolute;
	top: 2px;
	right: 2px;
	background: #ffffff;
	width: 20px;
	height: 22px;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	cursor: pointer;
}
.es-input {
	padding-right: 20px !important;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAICAYAAADJEc7MAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAG2YAABzjgAA4DIAAIM2AAB5CAAAxgwAADT6AAAgbL5TJ5gAAABGSURBVHjaYvz//z8DOYCJgUzA0tnZidPK8vJyRpw24pLEpwnuVHRFhDQxMDAwMPz//x+OOzo6/iPz8WFGuocqAAAA//8DAD/sORHYg7kaAAAAAElFTkSuQmCC) right center no-repeat;
}
.es-list {
	padding: 0;
	max-height: 240px;
	overflow-y: auto;
}
.es-list:empty {
	display: none;
	box-shadow: none;
	border: none;
}

/* Bootstrap improvements */
.navbar {
	border-radius: 0!important;
}
.dropdown-menu > li > a:after {
	content: ' ';
}

table.table-fixedheader {
	width: 100%;
}
table.table-fixedheader, table.table-fixedheader>thead, table.table-fixedheader>tbody, table.table-fixedheader>thead>tr, table.table-fixedheader>tbody>tr, table.table-fixedheader>thead>tr>th, table.table-fixedheader>tbody>td {
	display: block;
}
table.table-fixedheader>thead>tr:after, table.table-fixedheader>tbody>tr:after {
	content:' ';
	display: block;
	visibility: hidden;
	clear: both;
}
table.table-fixedheader>tbody {
	overflow-y: scroll;
	height: 100px;
}
table.table-fixedheader>thead {
	overflow-y: scroll;
}
table.table-fixedheader>thead::-webkit-scrollbar {
	background-color: inherit;
}
table.table-fixedheader>thead>tr>th:after, table.table-fixedheader>tbody>tr>td:after {
	content:' ';
	display: table-cell;
	visibility: hidden;
	clear: both;
}
table.table-fixedheader>thead tr th, table.table-fixedheader>tbody tr td {
	float: left;
	word-wrap:break-word;
}
table.table-fixedheader>tbody tr {
	overflow: hidden;
}
table.table-fixedheader>tbody tr td {
	padding-bottom: 3003px;
	margin-bottom: -3000px;
}
table.table-fixedheader>thead tr th {
	height: 28px;
}
table th label,
table td label {
	margin-bottom: 0;
	display: inline-block;
}
table td label {
	font-weight: normal;
	display: block;
}
table label input[type=checkbox],
table label input[type=radio] {
	margin: 0;
	position: relative;
	top: 2px;
}


.on-hover .on-hover-show {
	opacity: 0.5;
}
.on-hover:hover .on-hover-show,
.on-hover:focus .on-hover-show {
	opacity: 1;
}

#files-clipboard {
	height: 150px;
	overflow-y: auto;
}

.tag-block {
	max-width: 160px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.label-plus-primary {
	border-right: 0.5em solid #4183c4;
}
.label-link {
	cursor: pointer;
	font-size: 11px;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	margin-bottom: 0.5em;
	margin-right: 0.5em;
}
.label-link em {
	font-weight: normal;
	font-style: normal;
	display: block;
	padding-bottom: 1px;
	border-bottom: 1px solid white;
	margin-bottom: 0.3em;
}

[data-toggle="group"] > .btn > input[type="radio"],
[data-toggle="group"] > .btn > input[type="checkbox"] {
	display: none;
}

a.section {
	display: block;
	position: relative;
	top: -65px;
	visibility: hidden;
}

/* database table */
.db-table {
	position: relative;
	clear: both;
	height: 329px;
}
.db-table table {
	margin: 0;
	table-layout: fixed;
}
.db-table th {
	height: 28px;
	white-space: nowrap;
}
.db-table th,
.db-table td {
	overflow: hidden;
	text-overflow: ellipsis;
}
.db-table td {
	height: 70px;
}
.db-table__scroll {
	clear: both;
}
.db-table__scroll-header {
	overflow: hidden;
	position: relative;
	border: 0;
	/* width: 100%; */
	margin-right: 17px;
}
.db-table__scroll-header-inner {
	box-sizing: content-box;
	padding-right: 17px;
}
.db-table__scroll-body {
	position: relative;
	overflow: scroll;
	width: 100%;
	height: 300px;
}
.db-table__left-column {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 240px;
	height: 1px;
}
.db-table__left-header {
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	background: white;
}
.db-table__left-body {
	position: relative;
	top: 0px;
	left: 0px;
	overflow: hidden;
	height: 283px;
	background: white;
}
.db-table__left-body_fixed {
	box-shadow: 3px 0px 3px rgba(44,44,44,0.1);
}
.db-table__left-body-inner {
	position: relative;
	top: 0px;
	left: 0px;
	overflow-y: scroll;
	width: 257px;
	height: 283px;
}
.db-table__row_hidden,
.db-table__row_hidden th,
.db-table__row_hidden td {
	height: 0!important;
	padding: 0!important;
	font-size: 0!important;
	line-height: 0!important;
	border: none!important;
}
.db-table__dropdown {
	position: absolute;
	right: 3px;
	top: 5px;
}
.db-table__cell_visible {
	overflow: visible;
}
.db-table__cell-object,
.db-table__cell-object>div {
	width: 240px;
}
.db-table__cell-tag {
	width: 120px;
}
.db-table__cell-alltags {
	min-width: 800px;
	white-space: nowrap;
}
.db-table__view-object {
	width: 20px;
	text-align: center;
	display: block;
	float: left;
}
.db-table__cell-object>label {
	margin-left: 20px;
	padding-left: 20px;
	word-break: break-word;
}
.db-table__cell-object>label>input[type="checkbox"] {
	float: left;
	margin-left: -16px!important;
}
.db-table__btn-tagset {
	max-width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.input-xs {
	height: 20px;
	padding: 2px 4px;
	font-size: 11px;
	line-height: 1.5;
	border-radius: 2px;
}
select[multiple].input-xs {
	padding: 0;
}
select[multiple].input-xs option {
	height: 18px;
	padding: 2px 4px;
}

.input-ghost {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: transparent;
	background-color: #F0F0F0; /* transparent;*/
}
.input-ghost_empty:not(:focus),
.input-ghost_empty:not(:active) {
	background-color: transparent;
	border-bottom-color: #F0F0F0;
}
.input-color_danger {
	color: #900!important;
	border-color: #b94a48;
}
.table tr.active .input-ghost_empty:not(:focus),
.table tr.active .input-ghost_empty:not(:active) {
	border-bottom-color: #FFFFFF;
}
.table tr.active .input-ghost:not(.input-ghost_empty),
.input-ghost:focus,
.input-ghost:active {
	background-color: #FFFFFF;
}

.te input[type="text"] {
	display: block;
	margin-bottom: 3px;
}
.te select[multiple] {
	max-height: 40px;
}


