body{
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #333333;
}


.panel-heading {
	font-weight: bold;
}


/* Dropzone */
.dropzone {
	height: 120px;
	text-align: center;
}

/* Editable select */
.es {
	position: relative;
}
.es-clear {
	position: absolute;
	top: 2px;
	right: 2px;
	background: #ffffff;
	width: 20px;
	height: 22px;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	cursor: pointer;
}
.es-input {
	padding-right: 20px !important;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAICAYAAADJEc7MAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAG2YAABzjgAA4DIAAIM2AAB5CAAAxgwAADT6AAAgbL5TJ5gAAABGSURBVHjaYvz//z8DOYCJgUzA0tnZidPK8vJyRpw24pLEpwnuVHRFhDQxMDAwMPz//x+OOzo6/iPz8WFGuocqAAAA//8DAD/sORHYg7kaAAAAAElFTkSuQmCC) right center no-repeat;
}
.es-list {
	padding: 0;
	max-height: 240px;
	overflow-y: auto;
}
.es-list:empty {
	display: none;
	box-shadow: none;
	border: none;
}
